.headlineSection {
  background-color: white;
  margin: 40px 40px 40px 40px;
  height: 550px;
  padding-left: 20px;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 30px;
  overflow: scroll;
  overflow-x: hidden;
}

.sectionTitle {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding-top: 10px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 426px) {
  .headlineSection {
    margin: 20px 10px;
    height: auto;
    padding-left: 10px;
    border-radius: 15px;
    text-align: center;
  }

  .sectionTitle {
    font-size: 25px;
    padding-top: 5px;
  }

  .loading {
    height: 150px;
    font-size: 20px;
  }
}
